<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="Back()">
      <ion-icon slot="start" name="arrow-back" style="padding-left: 10px;"></ion-icon>
    </ion-buttons>
    <ion-title style="text-align: center;margin-left: -35px;">
        <ion-text color="light">
          <ion-text color="light" class="fw700">List Class</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="classes">
  <ion-list *ngFor="let class of classes">
    <ion-item *ngIf="isCheck" [routerLink]="['students/',class._id]" (click)="SaveClassName(class.name)">
      <ion-label>{{class.name}}</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item *ngIf="!isCheck" (click)="RedictStory(class._id,class.name)">
      <ion-label>{{class.name}}</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>