<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="Back()">
      <ion-icon slot="start" name="arrow-back" style="padding-left: 10px;"></ion-icon>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-text color="light">
        <ion-text color="light" class="fw700">Student Profile</ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end" (click)="callNow(Profile.phone)">
      <ion-icon slot="start" name="call"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin *ngIf="Profile">
    <ion-card-content class="bg-profile">
      <img src="assets/img/avatar.jpg">
      <h1 class="fw500">{{Profile.first_name}}</h1>
      <h2 color="light" margin-bottom style="padding-top:5px;margin-bottom: -5px !important;">{{Profile.email}}</h2>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="Profile">
    <ion-list margin-bottom>
      <ion-list-header color="light">
        <ion-label class="fw700" style="text-align: center;">Information of <span
            style="color: rgb(236, 124, 43);">Student</span></ion-label>
      </ion-list-header>

      <ion-item>
        <ion-icon name="person-circle" slot="start"></ion-icon>
        <ion-label> {{Profile.name}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="leaf-sharp" slot="start"></ion-icon>
        <ion-label color="dark"> {{Profile.major}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label color="dark"> {{Profile.birthday}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label color="dark"> {{Profile.email}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="map-sharp" slot="start"></ion-icon>
        <ion-label color="dark"> {{Profile.address}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-label color="dark"> {{Profile.phone}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="Stories">
    <ion-list margin-bottom>
      <ion-list-header color="light">
        <ion-label class="fw700" style="text-align: center;">Stories</ion-label>
      </ion-list-header>

      <ion-card *ngFor="let story of Stories">
        <ion-card-header>
          <ion-card-subtitle>{{story.date}}</ion-card-subtitle>
          <ion-card-title class="ion-text-center" *ngIf="ClassName">{{ClassName}}</ion-card-title>
        </ion-card-header>
        
        <ion-card-content class="fix-content ion-text-center">
          <div class="content-student">
            <ion-list lines="none">
            <ion-item>
              <ion-label slot="start">
                Status: 
              </ion-label>
              <ion-label>
                {{story.attend ? 'Attend':'Absent'}}
              </ion-label>
            </ion-item>
            <ion-item *ngIf="story.note">
              <ion-label>
                Note: {{story.note}}
              </ion-label>
            </ion-item>
          </ion-list>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="Summary">
    <ion-list margin-bottom>
      <ion-list-header color="light">
        <ion-label class="fw700" style="text-align: center;">Summary</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-card>
         <ion-card-content class="fix-content">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Attend</ion-card-subtitle>
                    <ion-card-title>{{Summary.attend}} times</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Absent</ion-card-subtitle>
                    <ion-card-title>{{Summary.absent}} times</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
         </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item>
        <div class="progress-wrapper">
          <div class="progress-bar" [style.width]="progressvalue + '%'">
            {{progressvalue.toFixed(2)}}%
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>