:host {
    ion-content {
      --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }
    ion-list-header{
        padding-inline-start: 0px !important;
    }
    
    
    
  }
  ion-card{
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    margin-top: 0px !important;
  }

  .profile {
    ion-card {
      width: 100%;
      border-radius: 0;
      background-color: #fff;
      ion-card-content {
        padding: 32px;
        background-color: var(--ion-color-primary);
        color: #fff;
        text-align: center;
  
        img {
          height: 128px;
          width: 128px;
          border-radius: 50%;
          border: solid 4px #fff;
          display: inline;
          box-shadow: 0 0 28px rgba(255,255,255, .65);
        }
  
        h1 {
          margin-top: .5rem;
        }
      }
    }
  
    ion-item {
      ion-input {
        border-bottom: 1px solid var(--ion-color-tertiary);
      }
    }
  
    ion-buttom {
      button {
        margin: 0;
      }
    }
    .progress-wrapper {
        width: 95%;
        color: #fff;
        margin: 15px 2.5%;
        text-align: center;
        background-color: #f1d4d4;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    
    .progress-bar {
        padding: 4px;
        min-width: 10%;
        overflow: hidden;
        white-space: nowrap;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background-color: #3949c7;
        transition: 2s linear;
        transition-property: width, background-color;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);    
    }
    .list-md{
        padding-top: 2px !important;
    }
    ion-card{
        ion-item{
            ion-icon{
                color: #2f32a0;
            }
        }
    }
    .ion-text-center{
        padding-bottom: 0px !important;
    }
    .fix-content{
        padding: 12px !important;
        background-color: #fff !important;
        color: black !important;
    }
    .block-number{
        height: 50px;
        position:relative;
        width: 90%;
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2),0 2px 7px 0 rgba(0,0,0,0.19) !important
    }
    ion-col > div {
        padding: 10px;
    }

    .effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
  }
  