<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashbroad"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" style="text-align: center;" padding>
    <img src="../../../assets/img/letter-s-logo.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Ionic 5 Student Attendence</strong></ion-text>
      </h1>
      
      <p margin-bottom>
        This is powerfull app make by Jable Johnson team!!!!
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
