:host {
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
    }

}

.footer{
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    p{
        color: rgba(255, 255, 255, 0.89);
        font-size: .9rem;
    }
}
.paz {
    position: relative;
    z-index: 10;
}
.btn-sign{
    margin-top: 30px;
}