<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="Back()">
      <ion-icon slot="start" name="arrow-back" style="padding-left: 10px;"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="Submit()">
      <ion-icon slot="start" style="font-size:1.8rem !important; font-weight: 500 !important;" name="checkmark-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Check Students</ion-title>
  </ion-toolbar>
  <ion-toolbar >
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button style="border-right:.5px solid  rgb(218, 206, 206); ;" >
          <ion-icon name="people-circle"></ion-icon>
          <ion-label> {{class_name}} </ion-label>
        </ion-tab-button>
    
        <ion-tab-button >
          <ion-icon name="podium"></ion-icon>
          <ion-label> {{subject_name}} </ion-label>
        </ion-tab-button>
    
        <ion-tab-button  style="border-left: 1px solid rgb(218, 206, 206);" >
          <ion-icon name="calendar"></ion-icon>
          <ion-label>{{date}}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="listStudents">

  <ion-slides [options]="sliderConfig">
    <ion-slide >
      <ion-button color="success" (click)="selectall()">Mask all</ion-button>
      <ion-button color="warning" (click)= "unselectAll()">Mask as unread</ion-button>
      <ion-button color="danger">Danger</ion-button>
    </ion-slide>
  </ion-slides>

  <ion-card>
  <ion-list *ngFor="let student of listStudents">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/avatar.jpg" alt="ion">
      </ion-avatar>
      <ion-label>
        <h1 style="color: rgb(144, 54, 228);">{{student.name}}</h1>
      </ion-label>
      
      <ion-checkbox color="secondary" [(ngModel)]="student.status" (ionChange)="onChange(student._id)" slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-card>

</ion-content>