<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
        <ion-text color="light">
          <ion-text color="light" class="fw700">Subjects</ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications($event)">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
  <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
  <ion-buttons slot="end">
    <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
      <ion-icon name="options"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content  fullscreen *ngIf="listSubjects">
  <ion-list *ngFor="let subject of listSubjects">
    <ion-item (click)="GotoClass(subject._id,subject.id)">
      <ion-avatar slot="start">
        <img src="../../../assets/img/872px-Android_robot.svg.png" alt="ion">
      </ion-avatar>
      <ion-label>
        <h2>{{subject.id}}</h2>
        <h3>{{subject.name}}</h3>
        <p>You will remove these restraints and leave...</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
  
</ion-content>