<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
        <ion-text color="light">
          <ion-text color="light" class="fw700">Subjects</ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
  <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
  <ion-buttons slot="end">
    <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
      <ion-icon name="options"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content  fullscreen>

  <ion-list >
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/letter-s-logo.png" alt="ion">
      </ion-avatar>
      <ion-label>
        <h2>Subjects</h2>
        <h3>I can handle myself</h3>
        <p>You will remove these restraints and leave...</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/angular-icon.svg" alt="ion">
      </ion-avatar>
      <ion-label>
        <h2>Subjects 2</h2>
        <h3>I can handle myself</h3>
        <p>You will remove these restraints and leave...</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
  
</ion-content>